{% extends 'base.html' %}

{% block title %}Status{% endblock %}
{% block title_meta %}Status{% endblock %}

{% block content %}
    <p>
        <strong>Site last built:</strong> {{ CURRENT_AWARE_DATETIME }}
    </p>

    <h2>Platform Information</h2>
    
    <ul>
        <li>Python: {{ PYTHON_VERSION_PLATFORM }}</li>

        <li>Pip: {{ PIP_VERSION_IMPORTLIB }}</li>
        <li>Django: {{ DJANGO_VERSION_IMPORTLIB }}</li>
        <li>Django Distill: {{ DISTILL_VERSION_IMPORTLIB }}</li>
        <li>django-htmlmin {{ DJANGO_HTMLMIN_VERSION_IMPORTLIB }}</li>
        
        <li>OS: {{ OS_VERSION }}</li>

        {% comment "" %}
        <li> {{  }}</li>
        <li> {{  }}</li>
        {% endcomment %}
    </ul>

    <h2>All Versions Of This Page</h2>

    <ul>
        <li><a href="https://disjecta.github.io/status/">GitHub Pages</a></li>
        <li><a href="https://disjecta.gitlab.io/status/">GitLab Pages</a></li>
        <li><a href="https://disjecta.netlify.app/status/">Netlify</a></li>
    </ul>

{% endblock %}
