<nav class="pa3 pa4-ns">

    <a class="link dim gray f6 f5-ns dib mr3" href="{% url 'blog-index' %}" title="Blog">Blog</a>

    <a class="link dim gray f6 f5-ns dib mr3" href="{% url 'status' %}" title="Status">Status</a>

    {% if DEBUG %}
    {# note that the Admin app is not distilled #}
    {% if user.is_authenticated %}{% if request.user.is_superuser %}
        <a class="link dim gray f6 f5-ns dib mr3" href="{% url 'admin:index' %}" title="Admin">Admin</a>
    {% endif %}{% endif %} {# end Admin #}
    {% endif %} {# end DEBUG #}

</nav>
